body{
    display:flex;
    border: 10px solid;
    background-color: #D3CE99;
    margin: 0px 0px;
    overflow: hidden;
    height: 100vmax;
    width: 100vmax;
    flex-direction:column;
   }
  
.topBar{
    display: flex;
    width: 100vmax;
    height: 109px;
    background-color: #F2E9B8;
    align-items: center ;
    justify-content: center;
    border: 5px solid black;
}

.bubbleContainer{
    display: flex;
    height: 100vmax;
    width: 100vmax;
    flex-direction: row;
}
.bubble{
    display: flex;
    background-color:#DFF1B8;
    height: 200px;
    width: 300px;
    border-radius: 50px;
    font-size: larger;
   justify-content: center;
   align-items: center;
}

.bubble2{
    display: flex;
    background-color:#DFF1B8;
    height: 200px;
    width: 300px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: larger;
    margin-left: 190px;
    margin-top: 280px;
}

.bubble3{
    display: flex;
    background-color:#DFF1B8;
    height: 200px;
    width: 300px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    font-size: larger;
    margin-left: 180px;
}